:root{
    --primary-color:white;
    --second-color: rgb(87, 86, 86);
}
/* nav title start */
.container-nav{
    margin:0 auto;
    width:100%;
}
.contant{
    display: flex;
    justify-content: space-between;
   
}


.title-img{
    width:50px;
    height:48px;
    padding:10px
}
.title-name{
    display:flex;
    font-size: 18px;
}
span{
    color:orangered;
}
.title-link{
}
.title-link ul{
    display: flex;
   list-style: none;
    color:rgb(87, 86, 86);
      
}
.title-link ul li{
      margin-left:20px;
      margin-right:20px;
      padding:10px 0 10px 0;
}
/* nav title end */

/* banner start */

.banner-title{
    position: absolute;
    text-align: center;
    bottom:300px;
    left: 250px;
}
.btn-div{
    display:flex;
}
.banner-input{
   width:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.30);           
   
}
.input-size{
    outline: none;
}
.input-size, .btn-div{
    height:40px;
    margin-left: 20px;
    border:none;
    border-radius: 8px;
}
.btn-div{

    background-color: orangered;
}
#input-btn{
    font-size: 15px;
    margin: 0 8px 0 0;
    padding:10px;
    color:white;
    background-color: orangered;
    
}
.btn-img{
    margin: 0 0 0 8px;
    padding:10px;
    height:20px;
}
.ban-tit{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color:var(--primary-color);
   
}
.ban-des{
    color:var(--primary-color);
    opacity: 0.7;
}
/* bamner end */

/* tour img start */

.tour-container{
    margin-top: 20px;
     display: flex;
     justify-content: space-around;
}
.tour-descrafition{
    margin-left: 20px;
}
.tour-title{
  font-size: 35px;
}
.tour-des{
     color:var(--second-color);
}
.tour-img{
    width:400px;
    height:400px;
    margin-right: 70px;
    
}
/* tour img end */

.tour-img-container{
    margin: 0 auto;
    margin-top: 30px;
      
}
.tour-img-title{
   text-align: center;
}
.tour-img-des{
    color:var(--second-color);
    padding:10px 0 5px 0;
}
.tour-imgs{
   
}
.row1{
    display: flex;
    justify-content: space-between;
   
}
.row2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.row3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


 /* mobile screen */
@media screen and (max-width:600px) {
    .title-link ul, .tour-container,.row1,.row2,.row3 {
        flex-direction: column;
        gap:10px;
      }
      
      
    
}
@media screen and (min-width:600px) (max-width:992px){

}