/* nav title start */
.container-nav{
    margin:0 auto;
    width:100%;
}
.contant{
    display: flex;
    justify-content: space-between;
   
}
.hr{
    display: none;
}

.title-img{
    width:50px;
    height:48px;
    padding:10px
}
.title-name{
    display:flex;
    font-size: 18px;
}
span{
    color:orangered;
}
.title-link{
}
.title-link ul{
    display: flex;
   list-style: none;
    color:rgb(87, 86, 86);
      
}
.title-link ul li{
      margin-left:20px;
      margin-right:20px;
      padding:10px 0 10px 0;
}
/* nav title end */



.banner-container{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
}
  

 /* mobile screen */
@media screen and (max-width:600px) {
    .title-link ul{
        flex-direction: column;
      }
    
}
@media screen and (min-width:600px) (max-width:992px){

}